<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<nav  >
  <h4>Node Mysql Secure integration </h4>
  <ul>
    <li><a href="/"> Home </a> </li>
    <li><a href="/login"> Login </a> </li>
    <li><a href="/register"> Register </a> </li>

  </ul>
</nav>
<div class="container mt-4">

  <div class="jumbotron">
  <h1 class="display-4"> Login secure project!</h1>
  <p class="lead"> Please login or register to get more </p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  </body>
</html>
